<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!-- Custom Theme files -->
  <!--web-fonts-->
  <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
    <link rel="icon" href="ASAP.ico" type="image/x-icon">
    <style>
    .navbar{
        overflow: hidden;
        background-color: #333 !important;
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
      box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    }
    .navbar a:hover{
    color: green !important;
    font-size: 1.5em;
    }

    </style>
</head>
<body>
  <nav style="position: absolute" class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/" style="font-size:32px">ASAP</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/staff">Doctor</a></li>
              <li  class="active"><a href="/exchange"> Staff Exchange</a></li>
              <li><a href="/medicine">Medicine Hub</a></li>
              <li><a href="/record">Record Keeping</a></li>
              <li><a href="/AmbulanceGo">AmbulanceGo</a></li>
              <li><a href="/feedback">Feedback</a></li>
              <li><a href="/review">Reviews</a></li>
          </ul>
          </ul>
      </div>
  </nav>
  <h1>EDIT MEDICINE</h1>
    <form method='POST' action='/articles/edit/<%= article._id%>'>
      <label for='title'>TITLE:</label>
      <input name='title' type='text' value='<%= article.title%>'><br>
      <label for='stock'>STOCK:</label>
      <input name='stock' type='text' value=<%= article.stock%>><br>
      <label for='expiry'>EXPIRY DATE:</label>
      <input name='expiry' type='text' value=<%= article.expiry%>><br>
      <label for='precno'>PRESCRIPTION NO:</label>
      <input name='precno' type='text' value=<%= article.precno%>><br>
      <input type='submit' value='SUBMIT'>
    </form>
</body>
</html>
