<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        table,
        th,
        td {
            border: 6px solid black;
            padding: 10px;
        }

        table {
            border-spacing: 30px;
        }
    </style>
    
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
    <link rel="icon" href="ASAP.ico" type="image/x-icon">
</head>

<body>
    <h1>MEDICINES HUB</h1>
    <table name='medicine' style="width:100%">
        <tr>
            <th>Medicine Name:</th>
            <th>Units Left:</th>
            <th>Expiry Date:</th>
            <th>Assigned to Prescription Numbers:</th>
            <th>EDIT</th>
        </tr>
        <% for(var i=0; i<articles.length; i++)  { %>
        <tr>
            <td>
                <%= articles[i].title%>
            </td>
            <td>
                <%= articles[i].stock%>
            </td>
            <td>
                <%= articles[i].expiry%>
            </td>
            <td>
                <%= articles[i].precno%>
            </td>
            <td><a href="/article/edit/<%=articles[i]._id%>">EDIT</a></td>
        </tr>
        <% } %>
    </table>
    <button><a href="/add">ADD MEDICINE</a></button>

</body>

</html>